# Binaries
tkngate.exe
tkngate

/tkngate.exe*
/tkngate
tkngate.exe*
tkngate*

# Config with secrets
tkngate.yaml
.env
.env.example
.env*
.env.local

# SQLite database
*.db

# Log files
*.log

# Go build artifacts
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

Newproject.md
roadmap.md
